/* CSS Document */

@media screen and (max-width: 1089px) {
    /* ---------------------------------------------------*/

    body{
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 300px;
        font-size: 1.3em;
        background-image: url(../foto/pozadiFitness.jpg);

    }
    .barva{
        background-color: rgba(255, 255, 255, 0.95);  
    }
    header{
        width: 100%;
        height: auto;
        background-color: #323232;
        display: inline-block;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 10px;
    }
    header a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 18px;

    }
    header a:hover{
        text-decoration: underline;
    }
    article{
        width: 100%;
        margin: auto;
        text-align: left;
        min-height: 100vh;
        overflow: auto;
    }
    footer{
        width: 100%;
        background-color: #323232;
        height: 40px;
        margin: auto;
    }
    .odkazy{
        text-align: center;
        margin: auto;
    }
    .odkazymobil{
        display: inline-block;
        width: 100%;
        margin: auto;
        padding: 5px 0px 5px 0px;
    }
    h1{
        /*color: #E21330;*/
        color: #377EB5;
        margin: auto;
        font-size: 25px;
        font-family: 'Russo One', 'Open Sans', Arial, sans-serif;
        text-transform: uppercase;
        padding-left: 10px;
        overflow: auto;
    }
    h2{
        color: black;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Russo One', 'Open Sans', Arial, sans-serif;
        text-transform: uppercase;
        padding-left: 10px;
    }
    .uvodka{
        width: 98%;
        margin: auto;
        padding: 0 1% 0 1%;
    }
    table {
        border-collapse: collapse;
        width: 98%;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 15px;
    }

    th, td {
        text-align: left;
        padding: 2%;
    }

    tr:nth-child(even){
        background-color: #f2f2f2
    }
    p{
        font-family: 'Open Sans', Arial, sans-serif;
        line-height: 1.4;
        text-align: justify;
        margin: 25px 0;
        width: 90%;
        padding-left: 3%;
        padding-right: 3%;
        margin: auto;
    }
    .formprihlaseni{
        width: 80%;
        margin: auto;
        padding: 20px;
        border-radius: 5px;
        background-color: #f2f2f2;
        font-family: 'Open Sans', Arial, sans-serif;

    }
    input[type=submit], [type=button]{
        width: 100%;
        background-color: #377EB5;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: #2E68B2;
    }
    input[type=text], [type=number], [type=password], [type=date], [type=email], [type=datetime], select, textarea {
        width: 100%;
        padding: 12px 40px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: 'Open Sans', Arial, sans-serif;
    }

    label{
        color: #323232;
        font-family: 'Open Sans', Arial, sans-serif;

    }
    .formregistrace{
        width: 80%;
        margin: auto ;
        padding: 20px;
        border-radius: 5px;
        background-color: #f2f2f2;
        font-family: 'Open Sans', Arial, sans-serif;

    }

    textarea{
        height:100px;
        text-align:justify;
    }

    .velkefoto{
        border: 3px solid #377EB5;
        border-radius: 10px 10px 10px 10px;
        box-shadow:0px 0px 20px grey ;
        width: 96%;
        margin: 2%;
        height: auto;
        margin-left: 1.5%;
    }
    .malefoto{
        border: 3px solid #377EB5;
        margin: 20px 10px 5px 10px;
        background-color:rgba(0, 0, 0, 0.3) ;
        width: 46%;
        margin: 1%;
        margin-left: 2%;
        margin-right: 0;
        height: auto;
       
    }

    .hlasky{
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 40px;
        border: 1px solid #8B0000;
        background-color: #dd1f45;
        border-radius: 5px;
        font-size: 19px;
    }
    .okreg{
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 40px;
        border: 1px solid black;
        background-color: green;
        border-radius: 5px;
        font-size: 19px;
    }
    .spravaodkazy{
        text-decoration: none;
        width: 100%;
        background-color: #377EB5;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .spravaodkazy:hover {
        background-color: #2E68B2;
    }
    .prijetiodkazy{
        text-decoration: none;
        width: 100%;
        background-color: #377EB5;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .prijetiodkazy:hover {
        background-color: #2E68B2;
    }
    /* .uzivatelodkazy{
         width: 95%;
     }*/
    .uzivatelodkazy{
        width: 90%;
        text-decoration: none;
        background-color: #377EB5;
        color: white;
        /*  padding: 14px 20px;*/

        padding-left: 15px;
        padding: 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 4%;
        margin-bottom: 1%;
        float: right;
        text-align: center;
    }
    .uzivatelodkazy:hover {
        background-color: #2E68B2;
    }

    .tableuzivatele{
        margin-top: 20px;
    }
    .uzivateldiv{
        width: 95%;
    }
    .spravaodmitnutiodkazy{
        text-decoration: none;
        width: 100%;
        background-color: #dd1f45;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .spravaodmitnutiodkazy:hover{
        background-color: #910722;
    }

    .tlacitkoOn {
        font-size: 15px;
        background-color: #ccc;
        margin: 6px;
        border-color: #323232;
        border-radius: 4px;
        padding: 6px;
        cursor: pointer;
        float: left;
    }

    .nadpisyuprostred{
        text-align: center;
    }
    .formprijeti{
        overflow-x: auto;
    }
    .editacetabulka{
        margin: 1%;
    }
}
/* ---------------------------------------------------------------------------*/

@media screen and (min-width: 1090px) {

    body{
        margin: 0;
        padding: 0;
        width: 100%;
        background-image: url(../foto/pozadiFitness.jpg);

    }
    .barva{
        background-color: rgba(255, 255, 255, 0.95);  
    }

    header{
        width: 100%;
        background-color: #323232;
        height: 60px;
        display: inline-block;
        padding-top: 40px;
        padding-bottom: 10px;
        font-family: 'Russo One', 'Open Sans', Arial, sans-serif;
    }
    header a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 18px;

    }
    header a:hover{
        text-decoration: underline;
    }
    article{
        width: 60%;
        min-height: 100vh;
        margin: auto;
        text-align: left;
        padding: 30px 10px 0px 10px;
    }
    footer{
        width: 100%;
        background-color: #323232;
        height: 40px;
        float: left;
    }
    .odkazy{
        text-align: center;
        padding: 0;
        margin: auto;
    }
    .odkazymobil{
        display: inline-block;
        width: 14.66666667;
        margin: 1%;
    }
    .mezery{
        padding-left: 20px;
    }
    h1{
        /*color: #E21330;*/
        color: #377EB5;
        margin: 0;
        font-size: 25px;
        font-family: 'Russo One', 'Open Sans', Arial, sans-serif;
        text-transform: uppercase;

    }
    h2{
        color: black;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Russo One', 'Open Sans', Arial, sans-serif;
        text-transform: uppercase;
    }
    .uvodka{
        float: right;
        margin: auto;
        width: 40%;
        padding: 1%;

    }
    table {
        border-collapse: collapse;
        width: 100%;
        font-family: 'Open Sans', Arial, sans-serif;
    }

    th, td {
        text-align: left;
        padding: 8px;
        height: 40px;
    }

    tr:nth-child(even){
        background-color: #f2f2f2
    }
    p{
        width: 100%;
        font-family: 'Open Sans', Arial, sans-serif;
        line-height: 1.4;
        text-align: justify;
        margin: auto;
        padding: 1%;
    }
    .formprihlaseni{
        width: 500px;
        margin: auto ;
        padding: 20px;
        border-radius: 5px;
        background-color: #f2f2f2;
        font-family: 'Open Sans', Arial, sans-serif;

    }
    input[type=submit], [type=button]{
        width: 100%;
        background-color: #377EB5;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: #2E68B2;
    }
    input[type=text], [type=number], [type=password], [type=date], [type=email], [type=datetime], select, textarea {
        width: 100%;
        padding: 12px 40px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: 'Open Sans', Arial, sans-serif;
    }

    label{
        color: #323232;
        font-family: 'Open Sans', Arial, sans-serif;

    }
    .formregistrace{
        width: 500px;
        margin: auto ;
        padding: 20px;
        border-radius: 5px;
        background-color: #f2f2f2;
        font-family: 'Open Sans', Arial, sans-serif;

    }

    textarea{
        height:100px;
        text-align:justify;
    }

    .velkefoto{
        border: 3px solid #377EB5;
        border-radius: 10px 10px 10px 10px;
        box-shadow:0px 0px 20px grey ;
        width: 600px;
        height: 350px;

    }
    .malefoto{
        border: 3px solid #377EB5;
        margin: 20px 10px 5px 2px;
        background-color:rgba(0, 0, 0, 0.3) ;
        width: 200px;
        height: 150px;
    }
    .hlasky{
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 40px;
        border: 1px solid #8B0000;
        background-color: #dd1f45;
        border-radius: 5px;
        font-size: 19px;
    }
    .okreg{
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 40px;
        border: 1px solid black;
        background-color: green;
        border-radius: 5px;
        font-size: 19px;
    }
    .artreg{
        height: 2000px;
    }
    .spravaodkazy{
        text-decoration: none;
        width: 100%;
        background-color: #377EB5;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .spravaodkazy:hover {
        background-color: #2E68B2;
    }
    .prijetiodkazy{
        text-decoration: none;
        width: 100%;
        background-color: #377EB5;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .prijetiodkazy:hover {
        background-color: #2E68B2;
    }
    .uzivatelodkazy{

    }
    .uzivatelodkazy{
        text-decoration: none;
        background-color: #377EB5;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 20px;
        margin-right: 8px;
        float: right;

    }
    .uzivatelodkazy:hover {
        background-color: #2E68B2;
    }
    .tableuzivatele{
        margin-top: 20px;
    }
    .spravaodmitnutiodkazy{
        text-decoration: none;
        width: 100%;
        background-color: #dd1f45;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer; 
    }
    .spravaodmitnutiodkazy:hover{
        background-color: #910722;
    }

    .tlacitkoOn {
        font-size: 15px;
        background-color: #ccc;
        margin: 6px;
        border-color: #323232;
        border-radius: 4px;
        padding: 6px;
        cursor: pointer;
        float: left;
    }
    .nadpisyuprostred{
        text-align: center;
    }
        .bmiart{
        overflow: auto;
    }
}
/*
@media screen and (min-width: 600px) and (max-width: 1023px) {
    .odkazymobil {
        width: 48%; margin: 1%;
    } 
    header{
        height: 270px
    }
*/    /* --------------------------------------------------*/


